.popup-change-profile-pic__close-button {
  min-width: 32px;
  max-height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-size: contain;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  margin: -40px 0 0 8px;
  position: relative;
  top: -134px;
  right: -430px;
  z-index: 2;
}
.popup-change-profile-pic__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .popup-change-profile-pic__close-button {
    min-width: 20px;
    max-height: 20px;
    top: -152px;
    right: -254px;
  }
}
