.profile__pic {
  width: 120px;
  border-radius: 50%;
  height: 120px;
  cursor: pointer;
  transition: 0.2s;
  object-fit: cover;
}





@media screen and (max-width: 767px) {
  .profile__pic {
    margin: 0 auto 22.25px;
  }
}
